﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Düğün Var!</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*<div class="col-md-4 header-logo">
                    <a href="./" class="navbar-brand" style="margin: 0"> <img src="~/Content/images/logom.png" alt="LOGO" width="20" height="20" />Anasayfa</a>
                </div>*@
            </div>
            <div class="navbar-collapse collapse" style="position: relative; margin-top: 1%; ">
                <ul class="nav navbar-nav">
                    <li><p><span style="font-size:200%;color:black;">&hearts; </span></li>
                    <li>@Html.ActionLink("Ana Sayfa", "Index", "Home")</li>
                    <li>@Html.ActionLink("Nerede Yapsam?", "Nerede", "Home")</li>
                    <li>@Html.ActionLink("Organizasyon", "Organizasyon", "Home")</li>
                    <li>@Html.ActionLink("Ne Giysem?", "Giyim", "Home")</li>
                    <li>@Html.ActionLink("Ne Yesek?", "Yemek", "Home")</li>
                    <li>@Html.ActionLink("Hakkımızda", "About", "Home")</li>
                    <li>@Html.ActionLink("İletişim", "Contact", "Home")</li>
                </ul>
                <div class="nav navbar-nav navbar-right col-md-4">
                    <div class="col-md-3 col-xs-7 pull-right">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">TR <span class="caret"></span></button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">EN</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-9 pull-right">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Ara</button>
                            </span>
                            <input type="text" class="form-control" placeholder="Arama...">
                        </div>
                    </div>
                </div>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
                    

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="site-footer">
                <div class="container" style="position: relative; margin-top: 0%">
                    <b>&copy; Copyright 2016. Düğün Var. </b>
                    <div style="float: right" class="footer-nav">
                        <a href="http://www.facebook.com"> <img src="~/Content/images/face.jpg" alt="LOGO" width="40" height="40" /></a>
                        <a href="http://www.twitter.com"> <img src="~/Content/images/twit.png" alt="LOGO" width="40" height="40" /></a>
                        <a href="http://www.instagram.com"> <img src="~/Content/images/insta.png" alt="LOGO" width="40" height="40" /></a>
                        <a href="http://www.youtube.com"> <img src="~/Content/images/you.png" alt="LOGO" width="40" height="40" /></a>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
